/*==================================*/
/*===============BASE===============*/
/*==================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(53, 67, 74);
}

.total-shadow {
  width: 100vw;
  height: 100vh;
  display: none;
}
/*==================================*/
/*============GAME BOARD============*/
/*==================================*/
h1, h2, h3 {
  text-align: center;
  margin-top: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(233, 137, 121);
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

#game {
  width: 750px;
  height: 750px;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  width: calc(25% - 10px);
  height: calc(33.33333% - 10px);
  display: inline-block;
  margin: 5px;
  transform: scale(1);
}

.card:hover, .start-game-button:hover, .restart:hover {
  cursor: pointer;
  transform: scale(.98);
  transition: transform .25s;
}

.unflipped {
  background-color: rgb(134, 138, 141) !important;
}

/*==================================*/
/*===========START WINDOW===========*/
/*==================================*/
.start-game-window, .win {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-game-button, .restart {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  background-color:rgb(134, 138, 141);
  border-radius: 10px;
  transform: scale(1);
  margin: 10 auto 0;
}

/*==================================*/
/*============WIN SCREEN============*/
/*==================================*/
.win {
  display: none;
}
